services:
  base:
    image: base-${SOM_DASHBOARD_BRANCH}-${SOM_SECURITY_PLUGIN_BRANCH}-${SOM_DASHBOARD_PLUGINS_BRANCH}-${SOM_DASHBOARD_REPORTING_BRANCH}-${SOM_DASHBOARD_SECURITY_ANALYTICS_BRANCH}-${ARCHITECTURE}
    build:
      context: .
      dockerfile: base-packages.Dockerfile
      args:
        NODE_VERSION: ${NODE_VERSION}
        SOM_DASHBOARD_BRANCH: ${SOM_DASHBOARD_BRANCH}
        SOM_DASHBOARD_SECURITY_BRANCH: ${SOM_SECURITY_PLUGIN_BRANCH}
        SOM_DASHBOARD_PLUGINS_BRANCH: ${SOM_DASHBOARD_PLUGINS_BRANCH}
        SOM_DASHBOARD_REPORTING_BRANCH: ${SOM_DASHBOARD_REPORTING_BRANCH}
        SOM_DASHBOARD_SECURITY_ANALYTICS_BRANCH: ${SOM_DASHBOARD_SECURITY_ANALYTICS_BRANCH}
        ARCHITECTURE: ${ARCHITECTURE}
    container_name: wzd-base-packages
    environment:
      OPENSEARCH_DASHBOARDS_VERSION: 3.3.0
    volumes:
      - ./:/home/node/output
    command: >
      bash -c '
        cp -r /home/node/packages /home/node/output
      '
