[Unit]
Description=som-dashboard

[Service]
Type=simple
User=som-dashboard
Group=som-dashboard
EnvironmentFile=-/etc/default/som-dashboard
EnvironmentFile=-/etc/sysconfig/som-dashboard
ExecStart=/usr/share/som-dashboard/bin/opensearch-dashboards
WorkingDirectory=/usr/share/som-dashboard
Restart=always

[Install]
WantedBy=multi-user.target

